
<html>
<head>
    <title> admin home </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href=" {% static '/css/adminhome.css' %}">
</head>
<body>

    <div class="banner">

       <div class="navbar">
           <img src="logos.png" class="logo">

           <ul>
            <html>
<head>
    <title> admin home </title>
    <link rel="stylesheet" type="text/css" href="{% static 'user_home.css' %}">
</head>
<body>

<!--           <ul>-->
<!--           <li><a href="adminhome">Home</a></li>-->
<!--           <li><div id="header" >-->
<!--            <div class="dropdown">-->

<!--<a class="dropbtn" onliclick="document.location='profile.php'">my account</a>-->
<!--<div class="dropdown-content">-->
<!--<a href="profile.php" >profile</a>-->
<!--<a href="changepasswd" >change password</a>-->
<!--<a href="adminlogout.php">logout</a>-->
    <!--</div>-->

    </div>


           </ul>
        </div>
        <div class="content">
            <h1>HOSTAY</h1>
            <p>WONDERFUL PLACE TO KNOW ABOUT ROOMS</p>
            <div>

                <button type="button" onclick="document.location='addrooms'">Add Rooms</button>
                <button type="button" onclick="document.location='viewroom'">ROOMS</button>
</div>

</div>
   </div>
</body>

</html>