{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOMEPAGE</title>
     <link rel="stylesheet" href=" {% static '/css/homee.css' %}">
</head>
<body>
<div class="container">
   <div class="navbar">

       <nav>
           <ul>
               <li><a href="">HOME</a> </li>
               <li><a href="/about">ABOUT</a> </li>
               <li><a href="/login">LOGIN</a> </li>

               <li><a href="registration" class="btn">REGISTER</a></li>

           </ul>
       </nav>
   </div>
     <div class="content">
            <h1>HOSTAY</h1>
            <p>WONDERFUL PLACE TO KNOW ABOUT ROOMS</p>
            <div>
</body>
</html>