{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOMEPAGE</title>
     <link rel="stylesheet" href=" {% static '/css/homee.css' %}">
</head>
<body>
<div class="container">
   <div class="navbar">

       <nav>
           <ul>
               <li><a href="">HOME</a> </li>
               <li><a href="about">ABOUT</a> </li>
               <li><a href="userroom">ROOMS</a> </li>
               <li><a href="updateprofile">EDIT PROFILE</a> </li>
           </ul>
       </nav>
   </div>
</div>
</body>
</html>